<h2>Gamble or Guarantee?</h2>
<fieldset>
  <input id="ticket-bunk" type="radio" name="entrant[tent]" value="false" autocomplete="off" required>
  <label for"ticket-bunk">I want in on the Bunk Ballot</label>
  <input for="ticket-tent" type="radio" name="entrant[tent]" value="true" autocomplete="off" required>
  <label for="ticket-tent">I'll bring a tent, gimme a ticket</label>
</fieldset>