<h2>Personal details</h2>

<fieldset>
  <label for="name">Name</label>
  <input id="name" name="entrant[name]" required autocompletetype="name">
</fieldset>

<fieldset>
  <label for="email">Email</label>
  <input id="email" name="entrant[email]" type="email" required autocompletetype="email">
</fieldset>

<fieldset>
  <label for="diet">Dietary or other requirements</label>
  <textarea id="diet" name="entrant[dietary_reqs]"></textarea>
</fieldset>

<h2>I think I'll need the bus to get to camp</h2>
<p>This isn't a ticket for the bus, just an indication for our planning.
<a class="camp-location" href="https://www.google.com/maps/place/Kindilan+Outdoor+Education+%26+Conference+Centre/@-27.629965,153.28291,17z/data=!3m1!4b1!4m2!3m1!1s0x6b9168c7c0d3928b:0xe6d7fb4df49931c1" target="_blank">Camp location.</a><p>
<fieldset>
  <input id="transport-bus" type="radio" name="entrant[wants_bus]" value="true" autocomplete="off" required>
  <label for="transport-bus">I want to ride the bus.</label>
  <input id="transport-other" type="radio" name="entrant[wants_bus]" value="false" autocomplete="off" required>
  <label for="transport-other">I'm driving/riding/flying under my own steam.</label>
</fieldset>

<%= partial :_form_bed_kind %>