<%
  @page_class = "thanks"
  @page_title = "All Set!"
%>

<%= partial :_header_banner %>

<div class="grid" role="main">

<h1>You're All Set!</h1>
<p>Whittle up your marshmellow toasting stick and dust off the swag; You're all set for RailsCamp!</p>

<p>Keep an eye on your inbox for more updates.</p>

<p>Tell the world!</p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bne15.railscamps.org/" data-text="I'm in the draw! - Railscamp XV, Brisbane: 9 — 12th of May" data-via="railscamp_au" data-size="large" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
