<%
  @page_class = "register"
  @page_title = "Register"
%>

<%= partial :_header_banner %>

<section class="grid ballot-info" role="main">
  <% if @errors %>
    <div class="errors">
      <h1>Oh snap! Something isn't quite right</h1>
      <p>There was an error with your details. Give it another go.</p>
      <ol>
        <% for message in @errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% else %>
    <h1>Enter the Bunk Ballot</h1>

    <p>Bunks are available to attendees on a ballot basis.</p>

    <p>To enter the ballot, fill your personal and payment details in below. Your details will be stored securely by pin.net.au.</p>

    <p>We'll randomly allocate the available tickets after the ballot is closed. Successful railscampers will be charged at that time and notified.  </p>

    <p>If you're unsuccessful, you won't be charged, Pin will conveniently forget your payment details, and we'll email you the bad news.</p>

    <p>You have until <strong>midnight (AEST) on Monday April 14</strong> to enter the ballot.</p>

    <h1>Take a Tent Ticket</h1>

    <% if @tents_available %>
    <p>You can bring your own tent and bedding to camp, and your ticket will be allocated immediately upon registration.</p>

    <p>Once they're all allocated that's it!  No more tent tickets are available.  You'll be charged safely and securely by pin.net.au when the Bunk Ballot concludes.</p>
    <% else %>
    <p>Tent tickets are sold out!  Sorry, you'll have to try your luck in the bunk ballot.</p>
    <% end %>

    <p>We're also offering a number of scholarship tickets.
    <a href="/scholarship" class="button alternate-entry-button">Apply for a scholarship</a></p>

    <p>All entrants agree to abide by the <a class='coc' href="http://ruby.org.au/code-of-conduct.html" target="_blank">Code of Conduct</a>, backed up by our friendly and easily accessed team of organizers.</p>
  <% end %>

  <form method="post">
    <div class="ticket-info">
      <div class="price">Max $250</div>
      <div class="price-buys">Includes accomodation &amp; meals</div>
    </div>

    <%= partial :_form_common %>

    <fieldset class="registration">
      <div class="registration-agreement">
        This card will be billed at most $250,<br>
        <em>only</em> if you receive a ticket.
      </div>
      <button class="register-button" data-busy-text="Hold tight...">Go Go Go!</button>
    </fieldset>
  </form>
</section>

<footer role="contentinfo">
  <div class="sponsor grid pin">
    Generously sponsored by <a href="https://pin.net.au/"><img src="/images/pin.svg" alt="Pin Payments"></a>
  </div>
</footer>
