<%
  @page_class = "register"
  @page_title = "Register"
%>

<%= partial :_header_banner %>

<section class="grid ballot-info" role="main">
  <% if @errors %>
    <div class="errors">
      <h1>Oh snap! Something isn't quite right</h1>
      <p>There was an error with your details. Give it another go.</p>
      <ol>
        <% for message in @errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% else %>
    <h1>I Wanna Come!</h1>

    <p>Great!  We're super pumped you're keen to come to RailsCamp.  Fill in the form below and you'll be on your way!</p>

    <p>You can choose to camp in a tent or a bunk;  Whatever you'd prefer.  We've got a linen hire service (Including a sheet, blanket, pillow, pillowcase and towels) for $20 if you'd prefer not to have to bring them to camp.</p>

    <h1>Transport to Camp</h1>
    The bus leaves for camp at 4pm on Friday, from QPAC on Stanley Street, Southbank;  Return bus is 9:30am on Monday, to both the Airport and Southbank.  Expect to be at the Airport no earlier then 10:15am (The trip takes 35 minutes).</p>

    <p>Attendees are also welcome to <a href="https://www.google.com/maps/place/Kindilan+Outdoor+Education+%26+Conference+Centre/@-27.6293899,153.2833767,18z/data=!4m2!3m1!1s0x0:0xe6d7fb4df49931c1">drive</a></p>

    <h1>Payment</h1>
    <p>Payment is by credit card, safely and securely handled by Pin Payments.</p>

    <p>All entrants agree to abide by the <a class='coc' href="http://ruby.org.au/code-of-conduct.html" target="_blank">Code of Conduct</a>, backed up by our friendly and easily accessed team of organizers.</p>
  <% end %>

  <form method="post">
    <div class="ticket-info">
      <div class="price">$245 (+ $20 w/ Linen)</div>
      <div class="price-buys">Includes accomodation &amp; meals;</div>
    </div>

    <%= partial :_form_common %>

    <fieldset>
        <input id="wants_bedding" type="radio" name="entrant[wants_bedding]" value="true" required>
      <label for"wants_bedding">I want to rent bedding for $20</label>
        <input id="no_bedding" type="radio" name="entrant[wants_bedding]" value="false" required>
      <label for"no_bedding">I'll bring my own</label>
      </fieldset>
    <%= partial :_card_details, payment_model: @entrant, payment_model_name: 'entrant' %>

    <fieldset class="registration">
      <div class="registration-agreement">
        You'll be billed $245 (plus linen, if requested),<br>
        <em>only</em> if you receive a ticket.
      </div>
      <button class="register-button" data-busy-text="Hold tight...">Go Go Go!</button>
    </fieldset>
  </form>
</section>

<footer role="contentinfo">
  <div class="sponsor grid pin">
    Generously sponsored by <a href="https://pin.net.au/"><img src="/images/pin.svg" alt="Pin Payments"></a>
  </div>
</footer>
